@tailwind base;
@tailwind components;
@tailwind utilities;

.nuxt-link-exact-active {
  background-color: rgb(51 65 85);
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}